.myContainer {
	max-width: 80%;
	margin: auto;
}

.myTrigger {
	width: 100%;
    background: yellow;
    border-radius: 3px;
    margin: 0;
    text-align: left;
}

.myContent {
	display: none;
	width: 100%;
	background: light gray;
}


