.myContainer {
	max-width: 40%;
	margin: auto;
}

.myTrigger {
	width: 60%;
    background: #ffdc00;
    border-radius: 10px;
    margin: 0;
    text-align: left;
}

.myContent {
	display: none;
	width: 60%;
	background: #D3D0CB;
}
