.myContainer {
	max-width: 80%;
	margin: auto;
}
.myTrigger {
	width: 100%;
    background: yellow;
    border-radius: 10px;
    margin: 0;
    text-align: center;
}

.myContent {
	display: none;
	width: 100%;
	background: #D3D0CB;
}
